CREATE TABLE `AH_ERRORS_LOG` (
  `ID` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `ERROR_CODE` INTEGER(11) DEFAULT NULL,
  `ERROR_MESSAGE` VARCHAR(255) COLLATE utf8_general_ci DEFAULT NULL,
  `DATE` DATETIME DEFAULT NULL,
  `USER_IP_ADDRESS` VARCHAR(255) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY USING BTREE (`ID`)
) ENGINE=InnoDB
AUTO_INCREMENT=14 CHARACTER SET 'utf8' COLLATE 'utf8_general_ci'
;