CREATE TABLE `AH_TARIFF_GROUPS` (
  `id` INTEGER(11) NOT NULL AUTO_INCREMENT,
  `tariff_id` INTEGER(11) NOT NULL,
  `tariff_group_id` INTEGER(11) DEFAULT NULL,
  `tariff_group_name` VARCHAR(50) COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY USING BTREE (`id`),
  UNIQUE KEY `id` USING BTREE (`id`)
) ENGINE=InnoDB
AUTO_INCREMENT=7 CHARACTER SET 'utf8' COLLATE 'utf8_general_ci'
;